* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 0.8fr 1.3fr 0.45fr;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffff;
  border-bottom: 1px solid #EEF0C8;
  box-shadow: 0px 0px 3px 0px;
}
@media screen and (max-width: 420px) {
  nav {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
  }
}
nav img {
  width: 35%;
  padding-left: 90px;
  margin-top: 2px;
}
@media screen and (max-width: 1024px) {
  nav img {
    margin-top: 7px;
  }
}
@media screen and (max-width: 730px) {
  nav img {
    padding-left: 50px;
    margin-top: 9px;
    width: 40%;
  }
}
@media screen and (max-width: 420px) {
  nav img {
    display: none;
  }
}
nav .menu-bar {
  margin-top: -2px;
}
@media screen and (max-width: 1024px) {
  nav .menu-bar {
    margin-bottom: 10px;
<<<<<<< HEAD
=======
  }
}
@media screen and (max-width: 420px) {
  nav .menu-bar {
    margin-bottom: 15px;
>>>>>>> 84ad4c8d7b2e4fefdd9f600b786ebab9e69706db
  }
}
nav .menu-bar ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
nav .menu-bar ul li {
  list-style: none;
  margin-top: 17px;
}
nav .menu-bar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  nav .menu-bar ul li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 730px) {
  nav .menu-bar ul li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  nav .menu-bar ul li a {
    font-size: 10px;
    display: flex;
    justify-content: center;
    width: 80px;
  }
}
nav .menu-bar ul li a:hover {
  color: #00B9BE;
  transition: 0.3s;
  font-weight: 520;
}
nav .icons-color {
  font-size: 30px;
  color: #00B9BE;
  margin-top: 10px;
}
@media screen and (max-width: 420px) {
  nav .icons-color {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 80px;
  }
}

footer {
  font-size: 20px;
  background: rgba(0, 184, 190, 0.3450980392);
  height: 180px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 90px;
}
@media screen and (max-width: 730px) {
  footer {
    font-size: 15px;
    padding: 0px 50px;
    height: 150px;
  }
}
footer .footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 420px) {
  footer .footer-left h3 {
    font-size: 15px;
  }
}
footer .footer-left .email {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-left .email img {
  width: 30px;
}
@media screen and (max-width: 420px) {
  footer .footer-left .email img {
    width: 20px;
  }
}
footer .footer-left .email p {
  margin-top: -5px;
}
@media screen and (max-width: 730px) {
  footer .footer-left .email p {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  footer .footer-left .email p {
    font-size: 10px;
  }
}
footer .footer-left .phone-call {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-left .phone-call img {
  width: 38px;
  margin-left: -5px;
}
@media screen and (max-width: 420px) {
  footer .footer-left .phone-call img {
    width: 28px;
  }
}
footer .footer-left .phone-call p {
  margin-top: 2px;
}
@media screen and (max-width: 730px) {
  footer .footer-left .phone-call p {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  footer .footer-left .phone-call p {
    font-size: 10px;
  }
}
footer .footer-right h3 {
  text-align: center;
}
@media screen and (max-width: 420px) {
  footer .footer-right h3 {
    font-size: 15px;
  }
}
footer .footer-right .icon {
  padding: 10px;
}
footer .footer-right .icon img {
  width: 30px;
  margin-left: 15px;
  margin-top: 10px;
}
@media screen and (max-width: 420px) {
  footer .footer-right .icon img {
    width: 20px;
  }
}

main {
  display: grid;
  height: auto;
  grid-template-rows: 10% 45%;
  padding: 90px 90px 40px 90px;
}
@media screen and (max-width: 730px) {
  main {
    padding: 50px 20px;
  }
}
main .about-main-center {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 10%;
  gap: 5%;
}
main .about-main-center .card-header,
main .about-main-center .card-bottom {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 18px 18px 0px 0px;
  box-shadow: rgba(18, 17, 17, 0.336) 0px 1px 5px 0px;
  padding: 1%;
}
main .about-main-center .card-header .card-header-1,
main .about-main-center .card-header .card-bottom-1,
main .about-main-center .card-bottom .card-header-1,
main .about-main-center .card-bottom .card-bottom-1 {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-rows: 1fr;
  border-radius: 4px;
  gap: 10px;
}
main .about-main-center .card-header .card-header-1 img,
main .about-main-center .card-header .card-bottom-1 img,
main .about-main-center .card-bottom .card-header-1 img,
main .about-main-center .card-bottom .card-bottom-1 img {
  padding-left: 40%;
  width: 100px;
  display: flex;
}
main .about-main-center .card-header .card-header-1 h3,
main .about-main-center .card-header .card-bottom-1 h3,
main .about-main-center .card-bottom .card-header-1 h3,
main .about-main-center .card-bottom .card-bottom-1 h3 {
  display: grid;
  align-items: center;
  text-align: center;
  color: #00B9BE;
  font-weight: 50px;
  font-size: 25px;
}
main .about-main-center .card-header .card-header-2,
main .about-main-center .card-header .card-bottom-2,
main .about-main-center .card-bottom .card-header-2,
main .about-main-center .card-bottom .card-bottom-2 {
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 18px 18px 18px 18px;
}
main .card-header:hover {
  box-shadow: rgba(62, 183, 240, 0.231) 0px 8px 10px 4px;
  transition: 0.5s;
  font-weight: 500;
  scale: 0.98;
  color: #00B9BE;
}
main .card-bottom:hover {
  box-shadow: rgba(62, 183, 240, 0.231) 0px 8px 10px 4px;
  transition: 0.5s;
  font-weight: 500;
  scale: 0.98;
  color: #00B9BE;
}

.card-ceo {
  height: 370px;
  display: grid;
  grid-template-columns: 30% 65%;
  gap: 5%;
  margin: 50px 200px;
  box-shadow: 0px 0px 3px 0px gray;
}
@media screen and (max-width: 1024px) {
  .card-ceo {
    display: grid;
    padding-right: 20px;
    grid-template-columns: 50% 50%;
  }
  .card-ceo img {
    width: 90%;
  }
}
@media screen and (max-width: 730px) {
  .card-ceo {
    grid-template-columns: 50% 50%;
  }
}
.card-ceo .card-ceo-left {
  background: rgb(218, 215, 211);
  display: grid;
  grid-template-rows: 80% 10% 10%;
}
@media screen and (max-width: 1024px) {
  .card-ceo .card-ceo-left {
    width: 100%;
  }
}
.card-ceo .card-ceo-left img {
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 30px;
}
@media screen and (max-width: 1024px) {
  .card-ceo .card-ceo-left img {
    width: 75%;
  }
}
@media screen and (max-width: 730px) {
  .card-ceo .card-ceo-left img {
    width: 90%;
    padding: 15px;
  }
}
.card-ceo .card-ceo-left h3 {
  text-align: center;
}
.card-ceo .card-ceo-left .contact-ceo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 40px;
  margin-top: -30px;
}
.card-ceo .card-ceo-left .contact-ceo a img {
  width: 27px;
  height: 25px;
  margin-left: -19px;
}
.card-ceo .card-ceo-right {
  margin-top: 60px;
}
.card-ceo .card-ceo-right p {
  margin-top: 50px;
}
@media screen and (max-width: 730px) {
  .card-ceo .card-ceo-right p {
    margin-right: 50px;
  }
}

.map {
  display: grid;
  width: 100%;
  margin-top: 0%;
}/*# sourceMappingURL=about_us.css.map */