* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background: #FCFFC7;
}
nav img {
  width: 10%;
  padding: 5px 90px;
}
nav .menu-bar {
  padding-right: 90px;
}
nav .menu-bar ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
nav .menu-bar ul li {
  list-style: none;
  margin-top: 18px;
}
nav .menu-bar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}

body header img {
  width: 100%;
}
body .group-book {
  padding-left: 90px;
  margin-top: 19px;
}
body .group-book button {
  margin-top: 5px;
  font-size: 20px;
  height: 35px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background: #EEF0C8;
}
body .group-book button:nth-child(1) {
  background: #00B9BE;
}
body .group-book button:nth-child(8) {
  margin-left: 30%;
}
body input[type=text] {
  width: 86%;
  margin: 30px 90px;
  padding-left: 15px;
  font-size: 20px;
  background: #EEF0C8;
  border-radius: 15px;
  border: none;
  height: 30px;
}
body h1 {
  text-align: center;
}
body .group-books {
  padding: 30px 90px 30px 60px;
}
body .group-books #education-book, body .group-books #Self-Development, body .group-books #General-knowledge {
  display: grid;
  grid-template-rows: 0.2fr 0.5fr 0.2fr;
}
body .group-books #education-book .header-book, body .group-books #Self-Development .header-book, body .group-books #General-knowledge .header-book {
  display: flex;
  justify-content: space-between;
}
body .group-books #education-book .header-book .more, body .group-books #Self-Development .header-book .more, body .group-books #General-knowledge .header-book .more {
  display: flex;
  justify-content: space-between;
}
body .group-books #education-book .body-book, body .group-books #Self-Development .body-book, body .group-books #General-knowledge .body-book {
  margin-top: 20px;
}
body .group-books #education-book .body-book img, body .group-books #Self-Development .body-book img, body .group-books #General-knowledge .body-book img {
  height: 321px;
  margin-right: 10px;
}
body .group-books #education-book .footer-book-buttom, body .group-books #Self-Development .footer-book-buttom, body .group-books #General-knowledge .footer-book-buttom {
  margin-top: 10px;
}
body .group-books #education-book .footer-book-buttom button, body .group-books #Self-Development .footer-book-buttom button, body .group-books #General-knowledge .footer-book-buttom button {
  width: 211px;
  background: #00B9BE;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
}
body .group-books #education-book .footer-book-buttom button a, body .group-books #Self-Development .footer-book-buttom button a, body .group-books #General-knowledge .footer-book-buttom button a {
  color: #000;
  text-decoration: none;
}
body .group-books #education-book .footer-book-buttom button:nth-child(2), body .group-books #Self-Development .footer-book-buttom button:nth-child(2), body .group-books #General-knowledge .footer-book-buttom button:nth-child(2) {
  width: 206px;
}
body .group-books #education-book .footer-book-buttom button:nth-child(3), body .group-books #Self-Development .footer-book-buttom button:nth-child(3), body .group-books #General-knowledge .footer-book-buttom button:nth-child(3) {
  width: 231px;
}
body .group-books #education-book .footer-book-buttom button:nth-child(4), body .group-books #Self-Development .footer-book-buttom button:nth-child(4), body .group-books #General-knowledge .footer-book-buttom button:nth-child(4) {
  width: 241px;
}
body .group-books #education-book .footer-book-buttom button:nth-child(5), body .group-books #Self-Development .footer-book-buttom button:nth-child(5), body .group-books #General-knowledge .footer-book-buttom button:nth-child(5) {
  width: 221px;
}
body .group-books #Self-Development .body-book, body .group-books #General-knowledge .body-book {
  margin-top: 20px;
}
body .group-books #Self-Development .body-book img, body .group-books #General-knowledge .body-book img {
  height: 317px;
  margin-right: 10px;
}
body .group-books #Self-Development .footer-book-buttom, body .group-books #General-knowledge .footer-book-buttom {
  margin-top: 10px;
}
body .group-books #Self-Development .footer-book-buttom button, body .group-books #General-knowledge .footer-book-buttom button {
  width: 222px;
  background: #00B9BE;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
}
body .group-books #Self-Development .footer-book-buttom button a, body .group-books #General-knowledge .footer-book-buttom button a {
  color: #000;
  text-decoration: none;
}
body .group-books #Self-Development .footer-book-buttom button:nth-child(2), body .group-books #General-knowledge .footer-book-buttom button:nth-child(2) {
  width: 217px;
}
body .group-books #Self-Development .footer-book-buttom button:nth-child(3), body .group-books #General-knowledge .footer-book-buttom button:nth-child(3) {
  width: 228px;
}
body .group-books #Self-Development .footer-book-buttom button:nth-child(4), body .group-books #General-knowledge .footer-book-buttom button:nth-child(4) {
  width: 222px;
}
body .group-books #Self-Development .footer-book-buttom button:nth-child(5), body .group-books #General-knowledge .footer-book-buttom button:nth-child(5) {
  width: 215px;
}
body .group-books #General-knowledge .footer-book-buttom button {
  width: 218px;
  background: #00B9BE;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-size: 20px;
}
body .group-books #General-knowledge .footer-book-buttom button a {
  color: #000;
  text-decoration: none;
}
body .group-books #General-knowledge .footer-book-buttom button:nth-child(2) {
  width: 230px;
}
body .group-books #General-knowledge .footer-book-buttom button:nth-child(3) {
  width: 208px;
}
body .group-books #General-knowledge .footer-book-buttom button:nth-child(5) {
  width: 220px;
}/*# sourceMappingURL=book.css.map */