* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffff;
  border-bottom: 1px solid #EEF0C8;
}
nav img {
  width: 12%;
  padding: 5px 90px;
}
nav .menu-bar {
  padding-right: 90px;
}
nav .menu-bar ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
nav .menu-bar ul li {
  list-style: none;
  margin-top: 18px;
}
nav .menu-bar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: 520;
  text-transform: uppercase;
}
nav .menu-bar ul li a:hover {
  color: #00B9BE;
  transition: 0.3s;
  font-weight: 520;
}

footer {
  background: #EEF0C8;
  height: 180px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 90px;
}
footer .footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-left .email {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-left .email img {
  width: 30px;
}
footer .footer-left .phone-call {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-left .phone-call img {
  width: 30px;
}
footer .footer-right h2 {
  text-align: center;
}
footer .footer-right .icon {
  padding: 10px;
}
footer .footer-right .icon img {
  width: 40px;
  margin-left: 15px;
  margin-top: 10px;
}

body .cover {
  position: relative;
  background-image: url("../images/Home/cover-home-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  height: 500px;
}
body .cover h1 {
  font-size: 50px;
  color: #00B9BE;
}
body .cover h1, body .cover p {
  font-weight: 600;
  padding: 50px 0px 0px 90px;
}
body .cover p {
  font-size: 20px;
  color: #FB9A29;
}
body .cover .open {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00B9BE;
  color: #ffffff;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  margin-left: 90px;
  margin-left: 90px;
  padding: 0px;
  margin-top: 170px;
  font-size: 17px;
}
body .popular-book h2 {
  text-align: center;
  margin-top: 30px;
}
body .popular-book .the-book {
  margin-left: 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
body .popular-book .the-book .first-book {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .popular-book .the-book .first-book img {
  width: 160px;
  height: 230px;
  margin-top: 40px;
}
body .popular-book .the-book .first-book p {
  display: flex;
  background: orange;
  width: 160px;
  height: 5vh;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
body .borrow-and-return {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 20px 90px;
}
body .borrow-and-return .borrow-card {
  justify-content: center;
  margin-top: 20px;
  background: rgb(228, 194, 130);
  border-radius: 20px;
  height: 180px;
  width: 96%;
  display: flex;
}
body .borrow-and-return .borrow-card .borrow-title {
  display: grid;
  width: 80%;
  grid-template-rows: repeat(2, 2.5fr);
  margin-bottom: 50px;
}
body .borrow-and-return .borrow-card .borrow-title h2 {
  margin-top: 20px;
  margin-left: 150px;
  color: orange;
}
body .borrow-and-return .borrow-card .borrow-title p {
  margin-left: 35px;
}
body .borrow-and-return .borrow-card .img {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
}
body .borrow-and-return .borrow-card .img img {
  border-radius: 5px;
  width: 100px;
  height: 140px;
}
body .borrow-and-return .return-card {
  justify-content: center;
  margin-top: 20px;
  background: rgb(228, 194, 130);
  border-radius: 20px;
  height: 180px;
  width: 96%;
  display: flex;
}
body .borrow-and-return .return-card .return-img {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
}
body .borrow-and-return .return-card .return-img img {
  border-radius: 5px;
  width: 100px;
  height: 140px;
}
body .borrow-and-return .return-card .return-title {
  display: grid;
  width: 80%;
  grid-template-rows: repeat(2, 2.5fr);
  margin-bottom: 50px;
}
body .borrow-and-return .return-card .return-title h2 {
  margin-top: 20px;
  margin-left: 150px;
  color: orange;
}
body .borrow-and-return .return-card .return-title p {
  margin-right: 25px;
}
body #address {
  padding: 3%;
}/*# sourceMappingURL=style.css.map */