@import "./conponents/navbar";
@import "./conponents/footer";

main {
    display: grid;
    height: 70%;
    grid-template-rows: 20% 80%;
    padding: 90px 90px 40px 90px;
    h2 {
        @include display-center;
        font-weight: 60px;
        margin-bottom: 50px;
    }
    .about-main-center {
        @include display-center;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10%;
        gap: 5%;

        .card-header,
        .card-bottom {
            @include display-center;
            grid-template-rows: repeat(2, 1fr);
            // border-radius: 200px 200px 0px 0px;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(18, 17, 17, 0.336) 0px 1px 5px 0px;
            padding: 1%;
            .card-header-1,
            .card-bottom-1 {
                @include display-center;
                grid-template-rows: 1fr;
                border-radius: 4px;
                gap: 10px;
                img {
                    padding-left: 40%;
                    width: 100px;
                    display: flex;
                }
                h3 {
                    @include display-center;
                    color: $inter;
                    font-weight: 50px;
                    font-size: 25px;
                }
            }
            .card-header-2,
            .card-bottom-2 {
                @include display-center;
                border-radius: 18px 18px 18px 18px;
            }
        }
    }
    .card-header:hover {
        box-shadow: rgba(62, 183, 240, 0.231) 0px 8px 10px 4px;
        // border-radius: 200px 200px 0px 0px;
        transition: .5s;
        font-weight: 500;
        scale: 0.98;
        color: $inter;
    }
    .card-bottom:hover {
        box-shadow: rgba(62, 183, 240, 0.231) 0px 8px 10px 4px;
        transition: .5s;
        font-weight: 500;
        scale: 0.98;
        color: $inter;
    }
}
.map {
    display: grid;
    width: 100%;
    margin-top: 2%;
}

@media (max-width:800px) {
    body {
        height: auto;
        width: auto;
    }
}
@media (max-width:500px) {
    nav {
        display: none;
        display: grid;
        
    }
}