@import "./conponents/navbar";
@import "./conponents/variable";

.about-main {
    background-color: orangered;
    display: grid;
    align-items: center;
    grid-template-rows: 10% 50% 30%;
    padding: 10px 90px 0px 90px;
    h2 {
        display: grid;
        align-items: center;
        text-align: center;
    }
    .about-main-center {
        background-color: orchid;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 15px;
        .card-header {
            background-color: aqua;
            display: grid;
            grid-template-rows: 1fr 1fr 4fr;
            align-items: center;
            padding: 15px;
        }
        .card-bottom {
            background-color: aqua;
            display: grid;
            grid-template-rows: 1fr 1fr 4fr;
            align-items: center;
            padding: 15px;
        }
    }
}