@import "./conponents/navbar";
body{
    .container-form{
        @include contact;
        margin-top: 40px;
        form{
            width: 45%;
            background: rgba(125, 237, 254, 0.369);
            border-radius: 15px;
            padding: 0px 50px;
            height: 80vh;
            margin-left: 90px;
            h1{
                text-align: center;
                margin: 10px 0px;
            }
            h4{
                text-align: center;
                margin-top: 20px;
            }
            img{
                margin-left: 42%;
                width: 100px;
            }
            input{
                width: 97%;
                padding: 10px;
                border: none;
                margin-top: 20px;
                border-radius: 10px;
                font-size: 15px;
                outline: none;
            }
            button{
                width: 100%;
                padding: 5px;
                background: $inter;
                border: none;
                border-radius: 10px;
                font-size: 20px;
                margin-top: 20px;
                a{
                    text-decoration: none;
                    color: $black-color;
                }
            }
            .icon{
                @include contact;
                align-items: flex-start;
                margin-left:35%;
                margin-bottom: 50px;
                img{
                    width: 29px;
                    margin-top: 5px;
                }
            }
        }
        img{
            width: 30%;
            margin-left: 45px;
        }
    }
}