@import "../scss/conponents/navbar";

body {
    .cover {
        background-image: url("../images/Home/cover-home-page.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0;
        height: 500px;
        h1{
            padding-left: 90px;
            padding: 20px;
        }
        p{
            margin-left: 30%;
        }
    }
}