@media (max-width: 834px) {
    body{
        nav{
            img{
                width: 30%;
                padding-left: 50px;
                margin-top: 8px;
            }
            .menu-bar{
                margin-top: -8px;
            }
        }
    }
}