@media (max-width: 1024px) {
    body{
        nav{
            img{
                max-width: 30%;
                padding-left: 50px;
                margin-top: 12px;
            }
            .menu-bar{
                margin-top: -5px;
                display: flex;
                align-items: center;
            }
        }
    }
}
