@media (max-width: 1024px) {
    body{
        nav{
            img{
                max-width: 30%;
                padding-left: 50px;
                margin-top: 8px;
            }
            .menu-bar{
                margin-top: -5px;
            }
        }
        .container-form{
            background-position:  60;
            height: 100vh;
            form{
                margin-top: 40px;
                width: 80%;
                height: 80vh;
                h1{
                    width: 40%;
                    margin-left: 30%;
                }
                .info{
                    margin-top: 30px;
                }
                .icon{
                    @include contact;
                    align-items: flex-start;
                    margin-left:40%;
                    margin-bottom: 50px;
                    img{
                        width: 35px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    
}