@media (max-width: 1024px) {
    body{
        nav{
            img{
                max-width: 30%;
                padding-left: 50px;
                margin-top: 8px;
            }
            .menu-bar{
                margin-top: -5px;
            }
        }
        .popular-book{
            .books {
                .image-card {
                    max-height: 260px;
                    max-width: 165px;
                    margin-right: 40px;
                    img {
                        border: 1px solid $card-color;
                        max-width: 150px;
                        max-height: 210px;
                    }
                }
                button {
                    height: 25px;
                }
            }
        }
    }
}
