<<<<<<< HEAD
@media (min-width: 834px) {
    .cover {
        height: 450px;
        width: 100%;
        position: relative;
        background-image: url("../images/Home/cover-home-page.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0;
        h1 {
            text-shadow: 1px 3px #d2d8b0;
            color: $inter ;
            font-size: 40px;
            color: $inter ;
        }
        h1,
        p {
            font-weight: 600;
            padding: 50px 0px 0px 63px;
        }

        p {
            b {
                font-size: 18px;
                color: rgba(0, 0, 0, 0.819);
=======
@media (max-width: 1024px) {
    body{
        nav{
            img{
                max-width: 30%;
                padding-left: 50px;
                margin-top: 8px;
            }
            .menu-bar{
                margin-top: -5px;
>>>>>>> 3b54aa81558f46e9cb00b78987e12136142557bd
            }
        }
        .popular-book{
            .books {
                .image-card {
                    max-height: 260px;
                    max-width: 165px;
                    margin-right: 40px;
                    img {
                        border: 1px solid $card-color;
                        max-width: 150px;
                        max-height: 210px;
                    }
                }
                button {
                    height: 25px;
                }
            }
        }
    }
}
