@import "./variable";
<<<<<<< HEAD
=======
@import "../group-mixus/flex-mixus";
@import "../group-mixus/grid-mixus";
>>>>>>> 0859930dcac357acdd6c21bc0fa1026465f34d1b
footer{
    background: $card-color;
    height: 180px;
    margin-top: 40px;
    @include centered;
    padding: 0px 90px;
    .footer-left{
        @include flex-coloum;
        .email{
            @include contact;
            img{
                width: 30px;
            }
        }
        .phone-call{
            @include contact;
            img{
                width: 30px;
            }
        }
    }
    .footer-right{
        h2{
            text-align: center;

        }
        .icon{
            padding: 10px;
            
            img{
                width: 40px;
                margin-left: 15px;
                margin-top: 10px;
            }
        }
        
    }
}