@import './variable';
@import './main';
@import '../responsive/responsive';
nav {
    @include format;
    position: sticky;
    top: 0;
    z-index: 100;
    background: $navbar-color;
    border-bottom: 1px solid $card-color;
    box-shadow: 0px 0px 3px 0px;
    @include responsive(Mobile){
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
    }
    img {
        width: 35%;
        padding-left: 90px;
        margin-top: 2px;
        @include responsive(Laptop){
            margin-top: 7px;
        }
        @include responsive(Tablet) {
            padding-left: 50px;
            margin-top: 9px;
            width: 40%;
        }
        @include responsive(Mobile){
            display: none;
        }
    }
    .menu-bar {
        @include responsive(Laptop){
            margin-bottom: 10px;
        }
        @include responsive(Mobile){
            margin-bottom: 15px;
        }
        margin-top: -2px;
        ul {
            @include formated;
            li {
                list-style: none;
                margin-top: 17px;
                a {
                    text-decoration: none;
                    color: $link-color;
                    font-size: 20px;
                    text-transform: uppercase;
                    @include responsive(Laptop){
                        font-size: 18px;
                    }
                    @include responsive(Tablet) {
                        font-size: 15px;
                    }
                    @include responsive(Mobile){
                        font-size: 10px;
                        display: flex;
                        justify-content: center;
                        width: 80px;
                    }
                }
                a:hover {
                    color: $inter;
                    transition: .3s;
                    font-weight: 520;
                }
            }
        }
    }
    .icons-color{
        font-size: 30px;
        color: $primary-color;
        margin-top: 10px;
        @include responsive(Mobile){
            margin-top: 10px;
            font-size: 20px;
            margin-left: 80px;
        }
    }
}