@import './variable';
@import './main';
@import '../responsive/responsive';
nav{
    @include format;
    position: sticky;
    top: 0;
    z-index: 100;
    background: $navbar-color;
    @include responsive(Tablet){
        
    }
    border-bottom: 1px solid $card-color;
    box-shadow: 0px 0px 3px 0px;
    img{
        width: 35%;
        padding-left: 90px;
        margin-top: 2px;
    }
    .menu-bar{
        padding-right: 90px;
        ul{
            @include formated;
            li {
                list-style: none;
                margin-top:17px;
                a{
                    text-decoration: none;
                    color: $black-color;
                    font-size: 20px;
                    text-transform: uppercase;
                }
                a:hover{
                    color: $inter;
                    transition: .3s;
                    font-weight: 520;
                }
            }
        }
        .icon-menu{
            @include centered;
            margin-top: 10px;

        }
    }
}
