$inter : #00B9BE;
$h2-color: #FB9A29;
$link-color: #000;
$card-color: #EEF0C8;
$navbar-color: #ffffff;
$card-menu-hover: rgb(230, 224, 224);
$hover-color: white;
$shadow-card: rgb(235, 232, 232);
$about-hover: rgba(62, 183, 240, 0.231);
$primary-color:teal;