$inter : #00B9BE;
$h2-color: #FB9A29;
$black-color: #000;
$card-color: #EEF0C8;
$navbar-color: #ffffff;
$button-more: rgb(230, 224, 224);
<<<<<<< HEAD
$h1-color:#FCFFC7;
=======
$hover-color: white;
>>>>>>> 547e013a4b8d8a9af38008bbd29c1b6204383207
