@mixin format {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
@mixin formated {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@mixin card-book{
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 0.2fr;
}
