@mixin format {
    display: grid;
    grid-template-columns: 1fr  1.5fr;
}
@mixin formated {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@mixin card-book{
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 0.2fr;
}
@mixin fiverow {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
@mixin button {
    background: $inter;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    width: 140px;
    margin-left: 20px;
}

// about pagge#

