@mixin format {
    display: grid;
    grid-template-columns: 0.8fr  1.3fr 0.45fr;
}
@mixin formated {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@mixin card-book{
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 0.2fr;
}
@mixin fiverow {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
@mixin button {
    background: none;
    margin-right: 10px;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    width: 100px;
    margin-left: 20px;
}
@mixin grid{
    display: grid;
}
@mixin upsolut{
    position: absolute;
    top: 0;
    right: 0;
}
// about pagge#

@mixin display-center {
    display: grid;
    align-items: center;
    text-align: center;
}
@mixin grid-repeat {
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 30px;
}